.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  justify-content: center;
  width: 100%;
  max-width: 920px;
  column-gap: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
