.resources__logo-zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 6px;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  max-width: 1100px;
  list-style-type: none;
}
