.khan__buy-link {
  margin-left: 48px;
  font-size: 30px;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  text-decoration: underline;
}

.khan__buy-link:focus {
  text-decoration: underline;
}
